<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">
    <appender name="A1" class="org.apache.log4j.FileAppender">
    	<param name="File" value="logs/CJ.log" />
    	<param name="Append" value="true" />
    	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c - %m%n"/>
        </layout>
  	</appender>

    <logger name="org.ozsoft.secs4j">
        <level value="TRACE"/>
    </logger>

    <root>
        <priority value="TRACE"/>
        <appender-ref ref="A1"/>
    </root>

</log4j:configuration>
